<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="go2">

<!-- Includes -->
<xacro:include filename="utils.xacro" />

<!-- Go2 bare urdf -->
<xacro:include filename="$(find ocs2_robotic_assets)/resources/go2/urdf/go2_description.urdf" />

<!-- Transmissions LF -->
<xacro:transmission name="transmission_LF_HAA" joint="LF_HAA" actuator="motor_LF_HAA"/>
<xacro:transmission name="transmission_LF_HFE" joint="LF_HFE" actuator="motor_LF_HFE"/>
<xacro:transmission name="transmission_LF_KFE" joint="LF_KFE" actuator="motor_LF_KFE"/>

<!-- Transmissions LH -->
<xacro:transmission name="transmission_LH_HAA" joint="LH_HAA" actuator="motor_LH_HAA"/>
<xacro:transmission name="transmission_LH_HFE" joint="LH_HFE" actuator="motor_LH_HFE"/>
<xacro:transmission name="transmission_LH_KFE" joint="LH_KFE" actuator="motor_LH_KFE"/>

<!-- Transmissions RF -->
<xacro:transmission name="transmission_RF_HAA" joint="RF_HAA" actuator="motor_RF_HAA"/>
<xacro:transmission name="transmission_RF_HFE" joint="RF_HFE" actuator="motor_RF_HFE"/>
<xacro:transmission name="transmission_RF_KFE" joint="RF_KFE" actuator="motor_RF_KFE"/>

<!-- Transmissions RH -->
<xacro:transmission name="transmission_RH_HAA" joint="RH_HAA" actuator="motor_RH_HAA"/>
<xacro:transmission name="transmission_RH_HFE" joint="RH_HFE" actuator="motor_RH_HFE"/>
<xacro:transmission name="transmission_RH_KFE" joint="RH_KFE" actuator="motor_RH_KFE"/>

<!-- Joint controller -->
<gazebo>
  <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    <robotNamespace>/anymal_d</robotNamespace>
  </plugin>
</gazebo>

<!-- State publisher - enabled or disabled based on the config file -->
<gazebo>
  <plugin filename="/home/user/Documents/ros/devel/.private/tbai_ros_gazebo/lib/libStatePublisher.so" name="StatePublisher"/>
</gazebo>

<gazebo>
  <plugin filename="/home/user/Documents/ros/devel/.private/tbai_ros_gazebo/lib/libRobotStatePublisher.so" name="StatePublisher"/>
</gazebo>

<!-- Add contact sensors -->
<gazebo reference="LF_FOOT">
    <sensor name="lf_foot_contact" type="contact">
    <plugin name="lf_contact_plugin" filename="/home/user/Documents/ros/devel/.private/tbai_ros_gazebo/lib/libContactSensor.so"/>
    <contact>
        <collision>FL_calf_fixed_joint_lump__LF_FOOT_collision_sensor_collision_3</collision>
    </contact>
    </sensor>
</gazebo>

<gazebo reference="RF_FOOT">
    <sensor name="rf_foot_contact" type="contact">
    <plugin name="rf_contact_plugin" filename="/home/user/Documents/ros/devel/.private/tbai_ros_gazebo/lib/libContactSensor.so"/>
    <contact>
        <collision>FR_calf_fixed_joint_lump__RF_FOOT_collision_sensor_collision_3</collision>
    </contact>
    </sensor>
</gazebo>

<gazebo reference="LH_FOOT">
    <sensor name="lh_foot_contact" type="contact">
    <plugin name="lh_contact_plugin" filename="/home/user/Documents/ros/devel/.private/tbai_ros_gazebo/lib/libContactSensor.so"/>
    <contact>
        <collision>RL_calf_fixed_joint_lump__LH_FOOT_collision_sensor_collision_1</collision>
    </contact>
    </sensor>
</gazebo>

<gazebo reference="RH_FOOT">
    <sensor name="rh_foot_contact" type="contact">
    <plugin name="rh_contact_plugin" filename="/home/user/Documents/ros/devel/.private/tbai_ros_gazebo/lib/libContactSensor.so"/>
    <contact>
        <collision>RR_calf_fixed_joint_lump__RH_FOOT_collision_sensor_collision_1</collision>
    </contact>
    </sensor>
</gazebo>

<!-- Gazebo materials -->
<gazebo reference="LF_FOOT">
  <mu1>1.85</mu1>
  <mu2>1.85</mu2>
  <kp value="1000000.0"/>
  <kd value="100.0"/>
</gazebo>

<gazebo reference="RF_FOOT">
  <mu1>1.85</mu1>
  <mu2>1.85</mu2>
  <kp value="1000000.0"/>
  <kd value="100.0"/>
</gazebo>

<gazebo reference="LH_FOOT">
  <mu1>1.85</mu1>
  <mu2>1.85</mu2>
  <kp value="1000000.0"/>
  <kd value="100.0"/>
</gazebo>

<gazebo reference="RH_FOOT">
  <mu1>1.85</mu1>
  <mu2>1.85</mu2>
  <kp value="1000000.0"/>
  <kd value="100.0"/>
</gazebo>

</robot>